{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer
  class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding"
  {% if section.settings.ids != '' and section.settings.ids != null %}
    id="{{section.settings.ids}}"
  {% endif %}
>
  <div class="footer-inner page-width">
    <div class="footer-left">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <div class="footer-title h1">{{ block.settings.heading }}</div>

          {%- when 'text' -%}
            <div
              class="footer-text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.text }}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="footer-right">
      <form action="#" class="rng-form">
        <input type="text" name="name" required placeholder="First Name *">
        <input type="text" name="lastname" required placeholder="Last Name *">
        <input class="col-span-2" type="text" name="company" required placeholder="Company name *">
        <input class="col-span-2" type="email" name="email" required placeholder="Email *">
        <input class="col-span-2" type="tel" name="tel" required placeholder="Phone Number *">
        <button type="submit" class="footer-submit">
          Subscribe
          <svg class="footer-fork">
            <use href='#fork-icon'></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>

<div id="navLinks"></div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "ids",
      "label": "Anchor"
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
